<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Hello, world</title>
    </head>
    <body>
        <div class="d-flex p-4">
            <form method="get" name="generate_report">
              <div class="form-group">
                <label for="exampleFormControlInput1">Min. Credits</label>
                <input type="text" name="min_credits" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Student Pin Numbers</label>
                <textarea class="form-control" name="student_pins" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="date_start">From date</label>
                <input type="date" name="start_date" class="form-control" id="date_start">
                <label for="date_start">To date</label>
                <input type="date" name="end_date" class="form-control" id="date_end">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Output Format</label>
                <select class="form-control" name="output_format" id="exampleFormControlSelect1">
                  <option></option>
                  <option>.csv</option>
                  <option>.html</option>
                </select>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Generate Report</button>
              </div>
            </form>
        </div>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </body>
</html>